button{
    color: white;
    width: 464px;
    height: 45px;
    background-color: #2991E0;
    border: none;
}

.loginArrow{
    font-size: 25px;
}

button:hover{
    cursor: pointer;
}

.buttonWarning{
    font-size:12px;
    color: red;
    align-self: start;
    padding: 0px 17px;
  }

@media (max-width:800px) and (min-width:614px){
    button{
        width: 332px;
        font-size: 15px;
        height: 35px;
    }
    .loginArrow{
        font-size: 18px;
    }
}

@media (max-width:614px) {
    button{
        width: 200px;
        font-size: 11px;
        height: 25px;
    }
    .loginArrow{
        font-size: 15px;
    }
}
